@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-brand-light: #b47727;
    --color-brand-dark: #b66700;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-olive: #819B57;
}


/* base */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    color: var(--color-primary-dark);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;

    @media screen and (min-width: 768px) {
            font-size: 18px;
        font-weight: 400;
        }
}

h1, h2, h3, h4, h5, h6, p {
 margin-top: 0;
}

a {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.visually-hidden {
    position: absolute;
    left: -10000;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    /* test content */
    padding-left: 18px;
    padding-right: 18px;
    /* test content*/
    /* overflow: hidden; */
}

/* button */
.button-primary {
    display: none;
    @media screen and (min-width: 1280px) {
        display: block;
            padding: 12px 32px;
                color: var(--color-primary-light);
                font-weight: 600;
                background: var(--color-brand-light);
                border: 2px solid var(--color-brand-dark);
                border-radius: 8px;
                cursor: pointer;
                margin-bottom: 10px;
                margin-right: 18px;
        }
}

.button-primary:hover {
    color: var(--color-brand-light);
    background-color: var(--color-olive);
}

.header-burger {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-primary-light);
    @media screen and (min-width: 1280px) {
            display: none;
        }
}

.mobile-menu,
.button-close {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: normal;
    gap: 20px;
    background-color: var(--color-primary-dark);
    transform: translateX(100%);
    transition: transform 0.5s;

    &.is-open {
        transform: translateX(0);
    }

    @media screen and (min-width: 1280px) {
    }
}

.button-close {
    background-color: transparent;
        border: none;
        width: 64px;
        height: 64px;
        margin-top: 36px;
        margin-left: 250px;
        padding: 0;
        fill: var(--color-primary-light);
    
        @media screen and (min-width: 1280px) {
            display: none;
        }
}

/* hero section */

.hero-section {
    padding: 124px 0;
        background-image: url(../images/fon2.jpg);
    /* background: linear-gradient(90deg,
    rgba(94, 226, 105, 0.7343312324929971) 1%,
    rgba(252, 123, 55, 0.3701855742296919) 70%,
    rgba(252, 158, 69, 0.5690651260504201) 100%); */
    /* background: linear-gradient(90deg, 
    rgba(94, 226, 105, 0.804359243697479) 13%,
    rgba(255, 239, 0, 0.41220238095238093) 50%,
    rgba(252, 158, 69, 0.804359243697479) 90%); */
    transition: transform 0.3s;
    
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
    background-attachment: fixed;

    @media screen and (min-width: 1280px) {
    background-position-y: -200px;
        background-image: url(../images/title.jpg);
        
    padding:272px 0;
    }
}

.hero-logo {      
        @media screen and (min-width: 1280px) {
                position: absolute;
                    /* top: 10px; */
                    top: 270px;
                    margin-left: 350px;
                    transform: scale(1.5);
            }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary-dark);
    /* background-image: url(../images/fon.jpg); */
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed; */ 
        height: 73px;
            z-index: 2
}

.header:hover {
    background-color: var(--color-primary-dark);
    /* opacity: 100%; */
    /* transition: opacity 1s, visibility 0.3s; */
}

.logo-header {
    padding-left: 18px;
}

.hero-title {
    display:none;
    margin-bottom: 48px;
    padding: 0 0;
    font-size: 64px;
    word-spacing: 5px;
    letter-spacing: 4px;
    color: var(--color-primary-light);
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;;
            font-size: 128px;
            line-height: 1.5;
        }

}

.hero-section-button {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
            display: none;
        }

}

/* link */
.link {
    color: var(--color-brand-light);
    text-decoration: none;
    transition: color 0.4s;
    transition: transform 0.5s;
}

.link:hover {
    color: var(--color-olive);
    text-decoration: underline;
}


.hero-title .accent {
    color: var(--color-brand-light);
}

/* headder */
.header-conteiner {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: none;
    @media screen and (min-width: 1280px) {
            display: flex;
                gap: 64px;
                flex-grow: 1;
                justify-content: center;
                margin-bottom: 10px;
        }
}

.mobile-menu-list {
    margin-left: 52px;
    @media screen and (min-width: 1280px) {
            display: flex;
            gap: 64px;
            flex-grow: 1;
            justify-content: center;
            margin-bottom: 10px;
        }
}

/* advantages section */
.advantages-sections {
    padding: 16px 0;

    @media screen and (min-width: 1280px) {
        background-color: var(--color-brand-dark);
        }
}

.advantages-icon {
    fill: #FAF4EA;
}

.advantages-svg-container {
    display: flex;
}

.svg-span {
    position: relative;
    top: 3px;
    right: 3px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-brand-dark);
    border-radius: 16px;
    padding: 24px 40px;
    color: var(--color-primary-light);
    
    @media screen and (min-width: 1280px) {
        flex-direction: row;;
    justify-content: space-between;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    }
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.3;

    @media screen and (min-width: 768px) {
            font-size: 64px;
                font-weight: 900;
                line-height: 1.3;
        }
}

.section-title.centered {
    text-align: center;
}

.section-title .accent{
    color: var(--color-brand-dark);
}



/* about-gentepla-text */

.about-us-section {
    padding-top: 5px;

    @media screen and (min-width: 768px) {
    padding-top: 96px;
        }
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.about-us-content {
    max-width: 730px;
}

.about-us-title {
    margin-bottom: 42px;
}

.about-gentepla-text .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}

.about-gentepla-text .uppercase {
    text-transform: uppercase;
}

.about-gentepla-text.limited {
    max-width: 340px;
}

.about-gentepla-text.uppercase.brand {
    text-transform: uppercase;
    color: var(--color-brand-light);
        font-weight: 600;
}

.about-gentepla-images {
    display: none;
    width: 300px;
    height: 400px;
    @media screen and (min-width: 768px) {
            display: block;
        }
}

/* our-work-title */

.our-works-title {
    max-width: 520px;
    margin: 0 auto 80px;
}

.our-works-title::before, 
.our-works-title::after {
    display: block;
    width: 230px;
    margin-left: 50px;
    border: 2px solid var(--color-olive);
    content: '';

    @media screen and (min-width: 768px) {
            width: 352px;
        }
}

/* chefs-sections */
.chef-text p:not(:last-child) {
    margin-bottom: 14px;
}

.chef-text {
                font-size: 10px;
    @media screen and (min-width: 768px) {
            font-size: 14px;
        }
}


.chefs-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 40px 30px;
    }
}

.chefs-item {
    display: block;

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    }
}

.chef-card {
    display: flex;
    align-items: flex-start;
    gap: 0px;
}

.obladnennya-photo {

    width: 140px;
    height: 200px;
    min-width: 140px;
    min-height: 200px;
    border-radius: 10px;
    padding: 1px;
    margin-right: 10px;
    
    @media screen and (min-width: 768px) {
        /* flex-basis: calc((100% - 30px) / 2); */
            width: 230px;
            height: 300px;
            min-width: 230px;
                min-height: 300px;
        }
}

.chef-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}



/* formtats-title */
.formats-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 32px;
}

.container {
    overflow: hidden;
}



.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 585px;
    padding: 14px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(
        180deg, rgba(49, 38, 26, 0.00) 0.21%, 
        rgba(49, 38, 26, 0.71) 50.92%, 
        #31261A 100%);
        transition: transform 0.3s;
}

.format-images {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}


.format-card:hover {
    @media screen and (min-width: 768px) {
        }
}

.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-brand-dark);
}

.format-text {
    
    font-size: 12px;
    font-weight: 600;
    color: var(--color-primary-light);
}

/* carosel */
.carousel-button {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.carousel-button.left {
    transform: rotate(180deg);
}

.carousel-button {
    display: none;
    @media screen and (min-width: 1280px) {
    display:flex;
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.pagination-button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--color-primary-light);
    border-radius: 50%;
    
}

.formats-list {
    margin-bottom: 32px;
}

/* contact section */
.section-contacts {
    padding-bottom: 24px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media screen and (min-width: 768px) {
            flex-direction: row;
        }
}

.contact-map {
    flex-shrink: 0;
    height: 200px;
    margin: 0 -24px;

    @media screen and (min-width: 768px) {
    width: 320px;
    height: 500px;
    }

    @media screen and (min-width: 1280px) {
    width: 600px;
    height: 600px;
    }
}

.contact-title {
    margin-top: 12px;
    margin-bottom: 16px;
}

.contact-photo {
    margin-top: 132px;
        height: 100%;
        width: 100%;
        max-height: 290px;
        max-width: 645px;
        @media screen and (max-width: 1280px) {
                display: none;
            }
}



/* fotter */

.social-media {
    display: inline;
}

.media-insta {
    border-radius: 5px;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}

.footer {
    padding: 32px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 370px) {
    flex-direction: row;
    flex-basis: 50%;
    }
}

.footer-address {
    display: flex;
    font-style: normal;
    flex-basis: 50%;
}

.footer {
    /* background-image: url(../images/obladnennya_6.jpg); */
    /* background: linear-gradient(90deg,
                rgba(94, 226, 105, 0.7343312324929971) 1%,
                rgba(252, 123, 55, 0.3701855742296919) 70%,
                rgba(252, 158, 69, 0.5690651260504201) 100%); */
    background: linear-gradient(90deg,
     rgba(94, 226, 105, 0.804359243697479) 13%,
     rgba(255, 239, 0, 0.41220238095238093) 50%,
     rgba(252, 158, 69, 0.804359243697479) 90%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.address-list {
    flex-grow: 1;
}

.footer-logo {
    flex-grow: 1;
}

.footer-menu {
    flex-grow: 1;
}

.address-link {
    color: var(--color-brand-dark);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-olive);
}
